@model ChatteR.Web.Mvc.ViewModels.Home.IndexViewModel
@{
  string titlePrefix = Model.Chatroom != null ? (Model.Chatroom + " &ndash; ") : string.Empty;
}<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width"/>
  <title>@Html.Raw(titlePrefix)ChatteR</title>
  @Styles.Render("~/content/chatter")
</head>
<body>
  <noscript>Please enable JavaScript</noscript>
  <div id="chatter" style="display:none">
    <div id="messages"></div>
    <form id="form" method="post">
      <input name="chatroom" type="hidden" value="@Model.Chatroom"/>
      <textarea name="message" placeholder="Message (CTRL-ENTER to send)" disabled></textarea>
      <input name="signature" type="text" placeholder="Signature (Leave blank to be anonymous)" disabled/>
      <input name="send" type="submit" value="Send" disabled/>
    </form>
    <div id="stats"></div>
  </div>
  @Scripts.Render("~/scripts/jquery", "~/scripts/jquery.signalR")
  <script src="~/signalr/hubs"></script>
  @Scripts.Render("~/scripts/chatter")
</body>
</html>